    <!-- ***** Breadcumb Area Start ***** -->
<section class="section-padding-200-50">
    <div class="container">
        <div *ngFor = "let list of list_data | keyvalue">
            <div class="row">
                <div class="col-12">
                {{list.key}}
                </div>
            </div>
            <div class="row" *ngFor = "let row of list.value">
                <div class="col-12 col-md-12">
                    <div class="row search-list-container">
                        <div class="col-12 col-md-8">
                            <div class="media">
                              <div class="media-left" class="user-image">
                                <img src="assets/img/bg-img/g4.jpg" class="media-object">
                              </div>
                              <div class="media-body">
                                <h3 class="media-heading"><a href="#">{{row.name.first}} {{row.name.last}}</a></h3>
                                <!-- <p >4 Dentists, 1 Oral And MaxilloFacial Surgeon, 1 Dental Surgeon, 2 Implantologists, 1 Restorative Dentist, 1 Endodontist, 2 Cosmetic/Aesthetic Dentists, 3 Orthodontists, 1 Orthodontist & Dentofacial Orthopedist, 1 Pediatric Dentist</p> -->
                                <span >
                                    {{row.about}}
                                </span>

                              </div>
                            </div>
                            </div>
                            <div class="col-12 col-md-4 left-side">
                                <div class="col-12"><i class="icon-laptop"></i> 42% (1740 votes)</div>
                                <div class="col-12"><i class="icon-doctor-1"></i> 439 Feedback for 7 Doctors</div>
                                <div class="col-12"><i class="icon-hospital-8"></i> {{row.city}},{{row.state}}</div>
                                <div class="col-12"><i class="icon-medicine-2"></i> ₹ 400</div>
                                <div class="col-12">
                                <a  [routerLink]="['/panel',list.key,row._id]" routerLinkActive="active" class="btn medilife-btn medilife-btn.btn-2" (click)="setSearchStorage(row._id)"><span> Free </span> 
                                    Book Appointment
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

  