   <!-- ***** Header Area Start ***** -->
    <header class="header-area">
        <!-- Top Header Area -->
        <div class="top-header-area">
            <div class="container h-100">
                <div class="row h-100">
                    <div class="col-12 h-100">
                        <div class="row h-100 d-md-flex justify-content-between align-items-center">
                          <div class="col-6">
                            <p>Welcome to <span>Dawapani.com!</span></p>
                          </div>
                          <div class="col-6" style="text-align: right;">
                            <p *ngIf="!user">
                              <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#SignIn"> Login </a>
                                &nbsp;&nbsp;&nbsp;
                              <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#SignUp"> SignUp </a>
                            </p>
                             <a [routerLink]="['panel','user',0]" *ngIf="user">Hello, {{user.name.first}}</a> 
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Header Area -->
        <div class="main-header-area" > <!-- id="stickyHeader" -->
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12 h-100 fix_menu">
                        <div class="main-menu h-100">
                            <nav class="navbar h-100 navbar-expand-lg">
                                <!-- Logo Area  -->
                                <a class="navbar-brand logo_adj" href="index.html" ><img src="./assets/img/core-img/logo2.png" alt="Logo"></a>

                                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#medilifeMenu" aria-controls="medilifeMenu" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

                                <div class="collapse navbar-collapse" id="medilifeMenu">
                                    <!-- Menu Area -->
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link" [routerLink]="['home']">Home<span class="sr-only"></span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" [routerLink]="['about']">About Us</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" [routerLink]="['csr']">CSR</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" [routerLink]="['services']">Services</a>
                                        </li>
                                       <!--  <li class="nav-item">
                                            <a class="nav-link" href="blog.html">News</a>
                                        </li> -->
                                        <li class="nav-item">
                                            <a class="nav-link" href="contact.html">Contact</a>
                                        </li>
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">More</a>
                                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" [routerLink]="['mission']">Our Mission</a>
                                                <a class="dropdown-item" [routerLink]="['vision']">Our Vision</a>
                                                <a class="dropdown-item" [routerLink]="['whychooseus']">Why choose Us</a>
                                                <a class="dropdown-item" [routerLink]="['hospitals']">About Hospitals</a>
                                                <a class="dropdown-item" [routerLink]="['Laboratory']">About Laboratory</a>
                                                <a class="dropdown-item" [routerLink]="['privacyPolicy']">Privacy & Policy</a>
                                                <a class="dropdown-item" [routerLink]="['termsCondations']">Terms & Condations</a>
                                                <a class="dropdown-item" [routerLink]="['faq']">FAQ</a>
                                            </div>
                                        </li>
                                    </ul>
                                    <!-- Appointment Button -->
                                    <!-- <a href="#" class="btn medilife-appoint-btn ml-30">For <span>emergencies</span> Click here</a> -->
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

 
    <!-- Modal -->
  <div class="modal fade" id="SignIn" role="dialog" >
    <div class="modal-dialog" style="margin-top: 197px">
    
      <!-- Modal content-->
      <div class="modal-content">
        <!-- <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
        </div> -->
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form" #frmLogin="ngForm" (ngSubmit)="signIn(frmLogin.value)">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> Username</label>
              <input type="text" class="form-control border-top-0 border-right-0 border-left-0" id="usrname" placeholder="Enter email" ngModel name="username">
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" class="form-control border-top-0 border-right-0 border-left-0" id="psw" placeholder="Enter password" ngModel name="password">
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="" checked>Remember me</label>
            </div>
              <button type="submit" class="btn medilife-btn btn-2 btn-block">Login</button>
          </form>
        </div>
        <div class="modal-footer">
         <!--  <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button> -->
          <p>Not a member? <a href="#" data-dismiss="modal" data-toggle="modal" data-target="#SignUp">Sign Up</a></p>
          <p>Forgot <a href="#">Password?</a></p>
        </div>
      </div>
      
    </div>
  </div> 

      <!-- Modal -->
  <div class="modal fade" id="SignUp" role="dialog" >
    <div class="modal-dialog" style="margin-top: 197px">
    
      <!-- Modal content-->
      <div class="modal-content">
        <!-- <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
        </div> -->
        <div class="modal-body" style="padding:40px 50px;">
          <form role="form" #frm="ngForm" (ngSubmit)="signUp(frm.value)">
            <div class="form-group">
              <label for="usrname"><span class="glyphicon glyphicon-user"></span> UserName</label>
              <input type="text" class="form-control border-top-0 border-right-0 border-left-0" name="usrname" placeholder="Enter email" ngModel>
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span> Password</label>
              <input type="password" class="form-control border-top-0 border-right-0 border-left-0" name="psw" placeholder="Enter password" ngModel>
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span>Re-enter Password</label>
              <input type="password" class="form-control border-top-0 border-right-0 border-left-0" name="repsw" placeholder="Enter password" ngModel>
            </div>
            <div class="form-group">
              <label for="psw"><span class="glyphicon glyphicon-eye-open"></span>Type (register as...)</label>
              <select class="form-control border-top-0 border-right-0 border-left-0" name="type" ngModel>
                <option selected>Hospital</option>
                <option>Clinic</option>
                <option>Doctor</option>
                <option>Patient</option>
              </select>
            </div>
            <div class="checkbox">
              <label><input type="checkbox" value="" checked>Remember me</label>
            </div>
              <button type="submit" class="btn medilife-btn btn-2 btn-block">Sign Up</button>
          </form>
        </div>
        <div class="modal-footer">
         <!--  <button type="submit" class="btn btn-danger btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> Cancel</button> -->
          <p>Not a member? <a href="#"  data-dismiss="modal" data-toggle="modal" data-target="#SignIn">Sign In</a></p>
          <p>Forgot <a href="#">Password?</a></p>
        </div>
      </div>
      
    </div>
  </div> 
