    <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(assets/img/bg-img/breadcumb1.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">About us</h3>
                        <p>Dawapani.com has identified opportunity to start internet based medical services to make
lives better.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->

    <!-- ***** Features Area Start ***** -->
    <div class="medilife-features-area section-padding-50">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-12">
                    <div class="features-content">
<!--                         <h2>We always put our pacients first</h2> -->
                        <p>
An elementary challenge faced by our Indian society is easy access to quality health care facilities.
The main barriers hindering this basic need are geographic distances, affordability, time and
resources. These barriers have led to a very low doctor patient ratio in our country. Dawapani.com
has come up with a unique and efficient way to facilitate medical help with the use of internet
technology as against the traditional clinics and hospitals. This nextgen platform removes all the
barriers and aims to provide the best healthcare benefits to each and every person. Each life is
precious and deserves the best expert advice for his/her problem.
</p>
<p>
	With the wide spread use of smart phones and penetration of internet infrastructure into rural
areas, Dawapani.com has identified opportunity to start internet based medical services to make
lives better. Sitting in your home, with a click away you can get the best advice from professionals
from any place for any health related problems. Our services include:

</p>
<h6 class="icon-pills-1"> Online consultation with the right doctor</h6>
<h6 class="icon-dropper"> Booking diagnostic tests</h6>
<h6 class="icon-pills-3"> Consultation receipt for insurance and other claims</h6>
<h6 class="icon-stethoscope"> Online pharmacies with competitive rates</h6>
<h6 class="icon-pills-2"> Recording and storing health records</h6>
<h6 class="icon-hospital-1"> Educating towards healthier life</h6>
<p>
	We feel early diagnosis is the first step towards quick treatment. With this thought, Dawapani.com is
here to provide you with the best and quick medical consultation without prior appointment and
long waiting lines 24x7.
</p>
<p>
	We have a team of expert doctors compassionate about healing lives with quality medical support.
They have been registered after severe levels of screening and enquiry about licences and years of
experience in their field. The patients have an option of rating the doctors to highlight the most
popular doctors. The feedbacks of the patients are also available for the others to read to maintain
transparent opinion making and remarks.
</p>
<p>The medical records of our patients also kept confidential and are uploaded on cloud with easy
access from any place and anytime. Also patients can choose to be anonymous thus maintaining
confidentiality. Another crucial step in the course of treatment is getting second opinion. We
provide expert second opinion on pathology reports thus helping in taking right decisions at the right
time.</p>
<p>An important facility which the traditional consultation services don&#39;t have is the follows up. Doctors
on our platform call back after preliminary consultation to check on the effects of the treatment
saving on your time trying to reach them.</p>
<p>Coming to the most important part of any medical treatment is the cost. Our pricing is transparent
with no hidden charges or conditions. There is no partiality on the basis of socio economic status or
reference of any kind. All patients are treated with uniformity and equal importance.</p>
<p>The prescriptions are legally valid as they are digitally signed to avoid any malpractice. Also the
receipts are valid for any insurance or claim purposes.</p>
<p>Our registered users are eligible for discounted prices for our range of services like consultation,
pharmacies, diagnostic labs and others.</p>
<p>Last but not the least the purpose of a doctor is not to delay the death but to improve the quality of
life. We here aim at doing just that.</p>
                    </div>
                </div>
                <!-- <div class="col-12 col-lg-12">
                    <div class="features-thumbnail">
                        <img src="assets/img/bg-img/about1.jpg" alt="">
                    </div>
                </div> -->
            </div>
        </div>
    </div>
    <!-- ***** Features Area End ***** -->

    <!-- ***** Video Area Start ***** -->
  <!--   <section class="medilife-video-area section-padding-100 bg-overlay bg-img" style="background-image: url(assets/img/bg-img/video.jpg);">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-8">
                    <div class="video-box bg-overlay-black">
                        <img src="assets/img/bg-img/video2.jpg" alt="">
                        <div class="play-btn">
                            <a class="popup-video" href="http://www.youtube.com/watch?v=0O2aH4XLbto"><img src="assets/img/core-img/play.png" alt=""></a>
                            <h6>A day at Medilife-Video</h6>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="video-content">
                        <h2>A day at Medilife -Video</h2>
                        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing eli. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- ***** Video Area End ***** -->

    <!-- ***** Skilss Area Start ***** -->
 <!--    <section class="our-skills-area text-center section-padding-100-0">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                    <div class="single-pie-bar" data-percent="90">
                        <canvas class="bar-circle" width="100" height="100"></canvas>
                        <h5>Donations</h5>
                        <p>Dolor sit amet</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                    <div class="single-pie-bar" data-percent="65">
                        <canvas class="bar-circle" width="100" height="100"></canvas>
                        <h5>Ambition</h5>
                        <p>Dolor sit amet</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                    <div class="single-pie-bar" data-percent="25">
                        <canvas class="bar-circle" width="100" height="100"></canvas>
                        <h5>Good Luck</h5>
                        <p>Dolor sit amet</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                    <div class="single-pie-bar" data-percent="69">
                        <canvas class="bar-circle" width="100" height="100"></canvas>
                        <h5>High Tech</h5>
                        <p>Dolor sit amet</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                    <div class="single-pie-bar" data-percent="83">
                        <canvas class="bar-circle" width="100" height="100"></canvas>
                        <h5>Science</h5>
                        <p>Dolor sit amet</p>
                    </div>
                </div>
                <div class="col-12 col-sm-6 col-md-3 col-lg-2">
                    <div class="single-pie-bar" data-percent="38">
                        <canvas class="bar-circle" width="100" height="100"></canvas>
                        <h5>Creativity</h5>
                        <p>Dolor sit amet</p>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
    <!-- ***** Skills Area End ***** -->

