   <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(assets/img/bg-img/breadcumb1.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">Vision:</h3>    
                            
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="medilife-features-area section-padding-50">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-12">
                    <div class="features-content">
                     <p>
                        	The website Dawapani.com has been established with the motive to spread humanity and healthcare
							services to as many people as possible. All you need is an internet connection and you are ready to
							connect to hundreds of highly qualified healthcare professionals and other specialists’ staff and their
							services.
                        </p>    
                        <p>
                        	You must be wondering why you should sign up on our website rather than going for the physical
							checkups and consultations? Well we have an answer for this and on reading the below advantages we
							are sure you will definitely sign up for our expert services:
                        </p>    

						<h3>Expert Consultation -</h3>
							<p>The first and the main advantage of joining us that you will come directly
								under the guidance of the top and the best of doctors in India right now. We have a panel of
								doctors from different streams who have earned a reputation worldwide. All of them are highly
								qualified and seasoned doctors. If you are already undergoing a treatment for an ailment and
								wish to have a second opinion you can connect to our doctors online.</p>
						<h5 class="">Top Hospitals -</h5>
							<p>You can not only connect to our doctors but can also consult them personally at
								their hospitals. We have associated with us country’s top notch hospitals in order to help the
								people who are situated at remote locations.</p>

						<h5 class="">Discounted Services -</h5>
							<p>Various services are medicines, doctors consultations, ambulance
							services, trauma and emergency services, etc are provided at discounted rates. Generally these
							services are very expensive and all the patients cannot afford them. His results into either delay
							in treatment making the disease chronic.</p>

						<h5 class="">Emergency Counseling -</h5>
							<p>If you have a patient at your home or a nearby place that is unwell and
								in a medical emergency, then you can instantly ping our doctors or call the trauma counseling
								centre for guidance. The concerned executive shall help you with the initial medical process
								which can save the patient’s life till the ambulance with the exert doctor reaches at your
								location.</p>
						<h5 class="">Post Treatment Follow Ups -</h5>
							<p>Once you have undergone the required treatment with
								consultation with the specialists’ doctor, you can discontinue the medications as advised by the
								doctor. Make sure you follow the doctor’s instructions carefully. The medical team at
								Dawapani.com shall contact you periodically to know about your whereabouts and health. You
								can be assured that the medical team is at your service 24*7 even after your treatment has
								been finished with us.</p>
							<h5 class="">Top Laboratories-</h5>
							<p>We are in collaboration with the top and best of medical tests laboratories
								which can offer you services at a discounted price which you won’t be able to believe. So if you
								can avail a good discount on the tests prescribed by the doctors, which are crucial for your
								treatment procedure to start so why not go and book your tests through our website? Just give
								it a thought!</p>
								<p>You can lay your trust upon us. We can assure you the optimum worth of your money and the best of
								services by our team. For more details please log in to our website.</p>
                    </div>
                </div>
              
            </div>
        </div>
    </div>