<section class="section-padding-200-50 panel">
    <div class="container">
    	<div class="row">
    		<div class="col-lg-8">
	    			<div class="row inside_section">
	    				<div class="col-lg-12 heading">
	    					Basic Info
	    				</div>
	    				<div class="col-12 section1">
	    					<div class="row">
			    				<div class="col-lg-4">
			    					<div style="padding: 5px;border: solid 0px;">
			    						<img src="./assets/img/bg-img/g4.jpg" alt="" style="min-height: 200px;border: solid 0px ;">
			    					</div>
			    				</div>
			    				<div class="col-lg-8">
			    					<p>Dentist</p>
			    					<h4>Dr. Yogy</h4>
			    							<p class="btn btn-info view-btn">854 vv views</p>
			    							<p class="btn btn-info view-btn">124 Patients</p>
			    					<div class="row padding-top-15">
			    					<ul class="col-lg-12">
				    					<li>
				    						<h6>
				    					Address-
				    				</h6>
				    				</li>
				    				<li>
				    					<p>
				    					2726 Shinn Street, New York
										</p>
										</li>
			    					</ul>
			    					<ul class="col-lg-12">
				    					<li>
				    						<h6>
				    					Phone-
				    				</h6>
				    				</li>
				    				<li>
				    					<p>0123456789-2255668899-12452245
										</p>
										</li>
			    					</ul>	
			    					</div>
			    				</div>
		    				</div>
	    				</div>
	    			</div>
	    			<div class="row inside_section">
	    				<div class="col-lg-12 section1">
	    					<div class="indent_title">
	    						<h5>About</h5>
	    					</div>
	    					<p class="wraper_indent">
	    						slkdjflskdsdvsdf sdf sdflksdf sdflsdfn slkdjflskdsdvsdf sdf sdflksdf sdflsdfn
	    						slkdjflskdsdvsdf sdf sdflksdf sdflsdfn
	    						slkdjflskdsdvsdf sdf sdflksdf sdflsdfn
	    						slkdjflskdsdvsdf sdf sdflksdf sdflsdfn
	    						slkdjflskdsdvsdf sdf sdflksdf sdflsdfn
	    						slkdjflskdsdvsdf sdf sdflksdf sdflsdfn
	    						slkdjflskdsdvsdf sdf sdflksdf sdflsdfn
	    						slkdjflskdsdvsdf sdf sdflksdf sdflsdfn
	    						slkdjflskdsdvsdf sdf sdflksdf sdflsdfn

	    					</p>
	    				</div>
	    			</div>
    		</div>

    		<div class="col-lg-4">
    			<div class="row inside_section">
	    			<div class="col-lg-12 heading">
    					Book
					</div>
	    			<div class="col-lg-12 section1">
	    			 <select class="form-control border-top-0 border-right-0 border-left-0" [(ngModel)]="selected_date">
	                <option value="0">Select Date</option>
	                <option>21 Jul</option>
	                <option>22 Jul</option>
	                <option>23 Jul</option>
	              </select>
	              <select class="form-control border-top-0 border-right-0 border-left-0" [(ngModel)]="selected_time">
	                <option  value="0" >Select Time</option>
	                <option value="1">02:30 PM</option>
	                <option value="2">03:30 PM</option>
	                <option value="3">04:30 PM</option>
	              </select>
	               <button type="submit" class="btn medilife-btn btn-2 btn-block">Book</button>
	    			</div>
    			</div>
    		</div>
    	</div>
	</div>
</section>