.panel h6,h5,h4,h3,h2,h1{
font-family: IBM Plex Sans;
color: #000000ab;
}
.panel p{
	margin-bottom: 0;
	line-height: 1
}
.panel ul{
	line-height: 11px;
	margin-top: 1rem
}
.inside_section{
	margin: 0px;

}
.section1{
	border: 1px solid #80808042;
	border-top: 0;
	margin: 0px;
	background-color: white;
	padding-bottom: 25px;
	padding-top:25px;
	padding-left: 25px;
	padding-right: 25px
}
.heading{
	min-height: 3rem;
	line-height: 3rem;
	color:white;
	background-color: #0e458e;
	border-radius: 6px 6px 0 0;
}
.padding-top-15{
	padding-top: 15px
}
.view-btn{
	margin-right: 15px;
	height: 34px;
}
/******/
