   <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(assets/img/bg-img/breadcumb1.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">Mission</h3>                 
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="medilife-features-area section-padding-50">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-lg-12">
                    <div class="features-content">
                    <p>
						You must have seen websites for various purposes like shopping, re selling, electronics, properties, etc.
						You can do ‘n’ number of activities and trading on these websites.
						</p>
						<p>
							We live in a developing country where there are numerous diseases. Some diseases are categorized as
						chronic diseases whose treatment and medication are very expensive and hence cannot be afforded by
						everyone.

						</p>
						<p>
						Ever wondered why you do not have any website for medical treatments and medications exclusively?
						Well your search comes to an end here!
						</p>
						<p>
						We at Dawapani.com have a pool of qualified and experienced medical healthcare professionals. This
						website has been established with the motive to spread the healthcare services all over India. India is a
						diversified country with people still living in remote and far away areas like mountains and under
						developed villages. Any person who has an internet connection on his mobile or desktop can log in here.
						</p>
						<h3>Mission</h3>
							<p>Let us have a look at the facilities associated with us:</p>
						<h5 class="">Doctors -</h5>
							<p>We have a pool of highly qualified doctors with us online who have earned their
							degrees from various prestigious medical institutes. These doctors are specialized in various
							subjects like dermatology, gynecology, anthropology, cardiology, etc. You can have a personal
							chat with any of these specialists and can discuss your problems in detail with them. You can
							attach your prescription on the personal chat with the doctor and can consult them for further
							course of action. You can also avail discounts on the medicines prescribed by the doctors here.</p>

						<h5 class="">Hospitals -</h5>
							<p>Along with specialists’ doctors, we have a panel of hospitals associated with us
							online on our website. The best of reputed hospitals are a part of our team who serve the
							patients with sincerity and honesty. Along with the doctors other specialized hospital staff like
							psychotherapy, physiotherapy, etc are also attached to us online. You can easily consult the
							doctors online and if required meet them personally at a discounted consultation charges</p>

						<h5 class="">Laboratories -</h5>
							<p>India’s top medical laboratories are a part of our health care team. You can take
							an appointment online with these laboratories at discounted rates. The sample collection officer
							will come at your home to collect your samples. You can also send the test reports directly to
							the doctor and ask for following treatment</p>
						<h5 class="">Emergency Services -</h5>
							<p>We understand the medical emergency situations and hence came up
							with some emergency helpline services. All you need to do is drop a chat or give a phone call to
							our customer care centre. Our executives will inform the nearest hospital and will arrange a fully
							medically equipped ambulance at your address that too as soon as possible! Various emergency
							trauma counseling is also rendered through our website so that we can educate you to explain
							the life of a critically unwell person till the time ambulance arrives.

							We understand that the initiative that we have taken requires huge amount of diligence but with the
							help of our seasoned doctors and 24*7 service staff we promise you to deliver the best of services.</p>
                    </div>
                </div>
              
            </div>
        </div>
    </div>