    <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(assets/img/bg-img/breadcumb2.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">Services</h3>
                        <p>Our services can be availed by any person who has an internet connection.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->


    <section class="medilife-benefits-area section-padding-50">
        <div class="container">
            <div class="row ">
                <div class="col-12 col-md-8">
                    <div class="features-content">
                        <!-- <h2>We always put our pacients first</h2> -->
                        <p>We at Dawapani.com have been dedicated towards fulfilling our duties irrespective of the financial
status or creed or any other factors of the patient. We are determined to provide the best of medical
healthcare services to the under privileged people.</p>
<p>
	We have a pool of numerous qualified and experienced doctors and other medical experts who are
available for serving you 24*7. India is a vast country and is still in its developing phases. Hence there
are various diseases which need to be taken care of in order to have a healthy tomorrow.
</p>
<p>Our services can be availed by any person who has an internet connection and a mobile phone or a
desktop. Please have a look at the services we offer for our subscribers:</p>
                    </div>
                </div>
                 <div class="col-12 col-md-4">
                    <div class="single-benefits-thumb">
                        <img src="assets/img/bg-img/benefits.png" alt="">
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-12 col-md-12">
                    <div class="single-benefits-area mb-50 ">
                        <div class="single-benefits-title d-flex align-items-end">
                            <i class="icon-teeth"></i>
                            <h5>Experienced Doctors</h5>
                        </div>
                        <p>We have an association with many highly qualified and experienced
doctors who are available 24*7 for you. Once you have signed up with us you can easily have an
access to any of these top professionals. Doctors specialized in various domains like cardiology,
dermatology, anthropology, gynecology, etc. are available to answer the patient’s queries. You
can also have a personal conversation over a personal chat window with the respective doctor.
You can be asked to attach the prescription and can get suggestions for the medications and
further course of treatment. Huge discounts are offered on the medicines and treatments here</p>
                    </div>
                    <div class="single-benefits-area mb-50 ">
                        <div class="single-benefits-title d-flex align-items-end">
                            <i class="icon-hospital-bed-1"></i>
                            <h5>Best Hospitals</h5>
                        </div>
                        <p>We have the best of hospitals in India attached with us online. You can refer to
any of them if you have subscribed to our website. You can also take an online appointment to
meet the doctor personally at the hospital. You can get discount on consultation fees as well.
The main purpose of giving such services is to help the financially deprived patients get the best
treatment possible for their illness</p>
                    </div>
                    
                </div>
               
                <div class="col-12 col-md-12">
                    <div class="single-benefits-area mb-50">
                        <div class="single-benefits-title d-flex align-items-end">
                            <i class="icon-hospital-2"></i>
                            <h5>Emergency Services</h5>
                        </div>
                        <p>Our professional team understand the intensity of the medical emergency
situations faced by the patients. What to do is the main question here. We have our medical
experts available for you all the time. All you need to do is just ping or drop a message at the
chat window. You will instantly get a reply by our executive. If required he shall connect you to
the specialist doctor as well. You will be kept completely informed during a telephonic
conversation while treating the patient. We also have various articles published online to spread
awareness about the basics of emergency situations.</p>
                    </div>
                    <div class="single-benefits-area mb-50">
                        <div class="single-benefits-title d-flex align-items-end">
                            <i class="icon-flask-1"></i>
                            <h5>Laboratories</h5>
                        </div>
                        <p>We have with us online the top notch laboratories attached with us. You can
connect with any of these and can book the appointment. The concerned medical officer shall
visit you to take your samples personally. The reports are also uploaded online into your
account which can be checked by the consulted doctor. There are various discount offers
available for the patients and at times free treatments are also given for the under privileged
ones.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** CTA Area Start ***** -->
    <div class="medilife-cta-area" style="display: none;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cta-content">
                        <i class="icon-smartphone"></i>
                        <h2>For Emergency calls</h2>
                        <h3>+12-823-611-8721</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** CTA Area End ***** -->
