 <!-- ***** Breadcumb Area Start ***** -->
    <section class="breadcumb-area bg-img gradient-background-overlay" style="background-image: url(assets/img/bg-img/breadcumb2.jpg);">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12">
                    <div class="breadcumb-content">
                        <h3 class="breadcumb-title">CSR</h3>
                        <!-- <p>Lorem ipsum dolor sit amet, consectetuer</p> -->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Breadcumb Area End ***** -->

    <!-- ***** Services Area Start ***** -->
    <div class="medilife-services-area section-padding-100-20">
        <div class="container">
        	<div class="row">
        		<div class="col-12 col-lg-12">
                    <div class="features-content">
                        <p>
We at Dawapani.com acknowledge that the journey of life is full of ups and downs. Living a life is like
travelling places and we never know what situation lies ahead and of course all of us want to have a
stress and disease free life.
</p>
<p>
	We are a constant partner in this journey of yours. We wish to serve the suffering and wipe their tears
and their constant helplessness. Staying honest to our National Anthem we believe in making our
country free from any kind of pain and diseases.
</p>
<p>We are also committed towards the people and the society in which we operate. We aim to develop and
maintain the social health of the society. We are focused to share best of healthcare services with the
people who are deprived of these for many years. We are committed in fulfilling this irrespective of the
caste, creed, economic status or the location of the people.</p>
<p>Keeping this as our motive, we have been associated with many organizations which are helping us fulfill
our corporate social responsibilities. We aim to fight together with you with your chronic diseases and
how are we doing that? Keep reading on:</p>
</div>
</div>
</div>
            <div class="row">
                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="single-service-area d-flex">
                        <div class="service-icon">
                            <i class="icon-blood-donation-1"></i>
                        </div>
                        <div class="service-content">
                            <h5>CSR towards Rural Development</h5>
                            <p>India is a developing country still in its development phases. Over 40% of population in India still resides
in the smaller towns and villages. We have collaborated with various health care organizations to serve
these people through medical camps and with the help of volunteers</p>
                        </div>
                    </div>
                </div>
                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="single-service-area d-flex">
                        <div class="service-icon">
                            <i class="icon-flask"></i>
                        </div>
                        <div class="service-content">
                            <h5>CSR towards Children</h5>
                            <p>This initiative has been designed to medially treat the under privileged children suffering from cardiac
diseases. Many surgeries have been performed at discounted rates and also some of them were
absolutely free as our contribution towards their well being. We have cured over xxx children and saved
their lives from these dreadful diseases</p>
                        </div>
                    </div>
                </div>
                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="single-service-area d-flex">
                        <div class="service-icon">
                            <i class="icon-emergency-call-1"></i>
                        </div>
                        <div class="service-content">
                            <h5>CSR towards Health Care</h5>
                            <p>We have associations with various healthcare organizations which are actively involved in spreading
awareness about the heart diseases and its prevention techniques. Heart diseases have been one of the
biggest reasons for illness in India. Through this we pledge to give a healthy heart beat to everyone!</p>
                        </div>
                    </div>
                </div>
                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="single-service-area d-flex">
                        <div class="service-icon">
                            <i class="icon-blood-donation-2"></i>
                        </div>
                        <div class="service-content">
                            <h5>CSR towards Hearing Impaired Children</h5>
                            <p>We are an active partner to various healthcare organizations and NGOs which are responsible to give
free treatments to the children with hearing impairments. The children who are under privileged and

reside at remote villages are the prime target under this initiative. We have treated over xxx children
who have hearing impairments since birth or at later stages.</p>
                        </div>
                    </div>
                </div>
                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="single-service-area d-flex">
                        <div class="service-icon">
                            <i class="icon-blood-donation-2"></i>
                        </div>
                        <div class="service-content">
                            <h5>CSR towards Cancer</h5>
                            <p>We are associated with organizations working for creating awareness about the most dreadful diseases
in the world called ‘Cancer’. We have volunteers who have been actively working in this front and also
offer treatments to them free of cost</p>
                        </div>
                    </div>
                </div>
                <!-- Single Service Area -->
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="single-service-area d-flex">
                        <div class="service-icon">
                            <i class="icon-blood-donation-2"></i>
                        </div>
                        <div class="service-content">
                            <h5>CSR towards Women</h5>
                            <p>Last but not the least! Women health safety has been a priority for us as well. We undertake various
medical camps to generate awareness and also offer free or discounted treatments to the under
privileged women for diseases like cancer, PCOs, Thyroid, Pregnancy issues, etc.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Services Area End ***** -->

    <div class="medilife-services-area clearfix" style="display: none;">
        <!-- Single Services Area -->
        <div class="singleServiceArea equalize d-flex">
            <div class="singleServiceIcon">
                <i class="icon-hospital-4"></i>
            </div>
            <div class="singleServiceText">
                <h2>A new way of running things</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing eli. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
        </div>

        <!-- Single Services Area -->
        <div class="singleServiceArea equalize bg-img" style="background-image: url(img/bg-img/about1.jpg);"></div>

        <!-- Single Services Area -->
        <div class="singleServiceArea equalize d-flex">
            <div class="singleServiceIcon">
                <i class="icon-clinic-history-2"></i>
            </div>
            <div class="singleServiceText">
                <h2>All Equipments are high tech</h2>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetuer adipiscing eli. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
            </div>
        </div>
    </div>

    <section class="medilife-benefits-area section-padding-100-50" style="display: none;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-heading">
                        <h2>We always put <br>our pacients first</h2>
                    </div>
                </div>
            </div>

            <div class="row align-items-center">
                <div class="col-12 col-md-4">
                    <div class="single-benefits-area mb-50 text-right">
                        <div class="single-benefits-title d-flex align-items-end row-reverse">
                            <i class="icon-teeth"></i>
                            <h5>Safe tests</h5>
                        </div>
                        <p>Ipsum dolor sit amet, consectetuer adipiscing eli. Lorem ipsum dolor sit amet, adip iscing.</p>
                    </div>
                    <div class="single-benefits-area mb-50 text-right">
                        <div class="single-benefits-title d-flex align-items-end row-reverse">
                            <i class="icon-hospital-bed-1"></i>
                            <h5>Online results</h5>
                        </div>
                        <p>Ipsum dolor sit amet, consectetuer adipiscing eli. Lorem ipsum dolor sit amet, adip iscing.</p>
                    </div>
                    <div class="single-benefits-area mb-50 text-right">
                        <div class="single-benefits-title d-flex align-items-end row-reverse">
                            <i class="icon-hospital-2"></i>
                            <h5>Imagistic tests</h5>
                        </div>
                        <p>Ipsum dolor sit amet, consectetuer adipiscing eli. Lorem ipsum dolor sit amet, adip iscing.</p>
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-benefits-thumb">
                        <img src="img/bg-img/benefits.png" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-4">
                    <div class="single-benefits-area mb-50">
                        <div class="single-benefits-title d-flex align-items-end">
                            <i class="icon-flask-1"></i>
                            <h5>Safe tests</h5>
                        </div>
                        <p>Ipsum dolor sit amet, consectetuer adipiscing eli. Lorem ipsum dolor sit amet, adip iscing.</p>
                    </div>
                    <div class="single-benefits-area mb-50">
                        <div class="single-benefits-title d-flex align-items-end">
                            <i class="icon-smartphone-1"></i>
                            <h5>Online results</h5>
                        </div>
                        <p>Ipsum dolor sit amet, consectetuer adipiscing eli. Lorem ipsum dolor sit amet, adip iscing.</p>
                    </div>
                    <div class="single-benefits-area mb-50">
                        <div class="single-benefits-title d-flex align-items-end">
                            <i class="icon-nuclear"></i>
                            <h5>Imagistic tests</h5>
                        </div>
                        <p>Ipsum dolor sit amet, consectetuer adipiscing eli. Lorem ipsum dolor sit amet, adip iscing.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- ***** CTA Area Start ***** -->
    <div class="medilife-cta-area" style="display: none;">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="cta-content">
                        <i class="icon-smartphone"></i>
                        <h2>For Emergency calls</h2>
                        <h3>+12-823-611-8721</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** CTA Area End ***** -->