<section class="section-padding-200-50 panel">
    <div class="container">
    	<div class="row">
    		<div class="col-lg-8">
	    			<div class="row inside_section">
	    				<div class="col-lg-12 heading">
	    					Basic Info
	    				</div>
	    				<div class="col-12 section1">
	    					<div class="row">
			    				<div class="col-lg-4">
			    					<div style="padding: 5px;border: solid 0px;">
			    						<img src="./assets/img/bg-img/g4.jpg" alt="" style="min-height: 200px;border: solid 0px ;">
			    					</div>
			    				</div>
			    				<div class="col-lg-8">
			    					<p>Dentist</p>
			    					<h4>Dr. Yogy</h4>
			    							<p class="btn btn-info view-btn">854 views</p>
			    							<p class="btn btn-info view-btn">124 Patients</p>
			    							<p *ngIf="updateable;" class="btn btn-info view-btn" href="panel" data-dismiss="modal" data-toggle="modal" data-target="#Updateprofile">Update Profile</p>
			    					<div class="row padding-top-15">
			    					<ul class="col-lg-12">
				    					<li>
				    						<h6>
				    					Address-
				    				</h6>
				    				</li>
				    				<li>
				    					<p>
				    					2726 Shinn Street, New York
										</p>
										</li>
			    					</ul>
			    					<ul class="col-lg-12">
				    					<li>
				    						<h6>
				    					Phone-
				    				</h6>
				    				</li>
				    				<li>
				    					<p>0123456789-2255668899-12452245
										</p>
										</li>
			    					</ul>	
			    					</div>
			    				</div>
		    				</div>
	    				</div>
	    			</div>
	    			<div class="row inside_section">
	    				<div class="col-lg-12 section1">
	    					<div class="indent_title">
	    						<h5>About</h5>
	    					</div>
	    					<p class="wraper_indent">
	    						slkdjflskdsdvsdf sdf sdflksdf sdflsdfn 
                  slkdjflskdsdvsdf sdf sdflksdf sdflsdfn
	    						slkdjflskdsdvsdf sdf sdflksdf sdflsdfn
	    						slkdjflskdsdvsdf sdf sdflksdf sdflsdfn
	    						slkdjflskdsdvsdf sdf sdflksdf sdflsdfn
	    						slkdjflskdsdvsdf sdf sdflksdf sdflsdfn
	    						slkdjflskdsdvsdf sdf sdflksdf sdflsdfn
	    						slkdjflskdsdvsdf sdf sdflksdf sdflsdfn
	    						slkdjflskdsdvsdf sdf sdflksdf sdflsdfn
	    						slkdjflskdsdvsdf sdf sdflksdf sdflsdfn

	    					</p>
	    				</div>
	    			</div>
    		</div>

    		<div class="col-lg-4">
    			<div class="row inside_section">
	    			<div class="col-lg-12 heading">
    					Book Appointment
					</div>
	    			<div class="col-lg-12 section1">
	    			 <select class="form-control border-top-0 border-right-0 border-left-0" name="type" [(ngModel)]="selectDate">
                        <option value="0">Select Date</option>
                        <option *ngFor="let cell of timeslot.date">{{cell}}</option>
                    </select>
                     <select class="form-control border-top-0 border-right-0 border-left-0" name="type" [(ngModel)]="selectTime">
                        <option value="0">Select Time</option>
                        <option *ngFor="let cell of timeslot.time">{{cell}}</option>
                    </select>
                    <button type="submit" class="btn medilife-btn btn-2 btn-block">Book</button>

	    			</div>
    			</div>
    		</div>
    	</div>
	</div>
</section>
 <div class="modal fade" id="Updateprofile" role="dialog" >
    <div class="modal-dialog" style="margin-top: 197px">    

      <div class="modal-content">
        
        <div class="modal-body" style="padding:40px 50px;">
           <div class="header">
                    <div class="row">
                        <div class="col-md-10">
                            <h4 class="title" style="text-align: center;">Update Profile</h4>
                           
                        </div>
                       
                    </div>
                </div>
          <form role="form" #frmLogin="ngForm" (ngSubmit)="ProfileUpdate(frmLogin.value,userInfo._id)">
          <!-- 	<pre>{{userInfo |json}}</pre> -->
           	<div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>First Name</label>
                        <input type="text" class="form-control border-input" value="" placeholder="" name="first" [(ngModel)]="userInfo.name.first">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label> Last Name</label>
                        <input type="text" class="form-control border-input" placeholder="UserName" value="" name="lastname" [(ngModel)]="userInfo.name.last">
                    </div>
                </div>
             </div>

             <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>User Name</label>
                        <input type="text" class="form-control border-input" placeholder="Hospital Name" value="" name="username" [(ngModel)]="userInfo.username">
                    </div>
                </div>
                
                        <div class="col-md-6">
                            <div class="form-group">
                              <label>Speciality</label>                                 
	                             <ng-multiselect-dropdown class="form-control border-input" name="speciality" 
	                              [data]="dropdownList"
	                              [(ngModel)]="selectedItems"
	                              [settings]="dropdownSettings"
	                              (onSelect)="onItemSelect($event)"
	                              (onSelectAll)="onSelectAll($event)"
	                            >
	                            </ng-multiselect-dropdown>
                            </div>
                        </div>
                    
             </div>

             <div class="row">                
                  <div class="col-md-6">
                    <div class="form-group">
                        <label>About</label>
                        <textarea rows="5" cols="5" class="form-control border-input" placeholder="UserName" value="" name="state" [(ngModel)]="userInfo.About"></textarea>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Address Line</label>
                        <textarea rows="5" cols="5" class="form-control border-input" placeholder="UserName" value="" name="addressline" [(ngModel)]="userInfo.address_line"></textarea>
                    </div>
                </div>
             </div>
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>City</label>
                        <input type="text" class="form-control border-input" placeholder="Hospital Name" value="" name="city" [(ngModel)]="userInfo.city">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>State</label>
                        <input type="text" class="form-control border-input" placeholder="UserName" value="" name="state" [(ngModel)]="userInfo.state">
                    </div>
                </div>
             </div>
             <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Country</label>
                        <input type="text" class="form-control border-input" placeholder="Hospital Name" value="" name="country" [(ngModel)]="userInfo.country">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Mobile</label>
                        <input type="text" class="form-control border-input" placeholder="Hospital Name" value="" name="mobile" [(ngModel)]="userInfo.mobile">
                    </div>
                </div>
              
             </div>
             <div class="row">
             
              	<div class="form-group">
              		 <p style=" position: absolute;left: 191px;color: red; margin-top: -10px"> <span class="glyphicon glyphicon-remove"><b>x</b></span></p> 
              		
                	<img src="{{url}}"  width="150" height="150" style="margin-left: 15px;">
               
                </div>
              
              <div class="col-md-6">
                    <div class="form-group">
                        <input type="file" class="form-group" value="" name="image" [(ngModel)]="userInfo.image" (change)="onSelectFile($event)" accept="image/*">
                    </div>
                </div>
             </div>
           
              <button type="submit" class="btn medilife-btn btn-2 btn-block">Update Profile</button>
          </form>
        </div>
        <div class="modal-footer">
        </div>
      </div>
      
    </div>
  </div> 