.panel h6,h5,h4,h3,h2,h1{
font-family: IBM Plex Sans;
color: #000000ab;
}
.panel p{
	margin-bottom: 0;
	line-height: 1
}
.panel ul{
	line-height: 11px;
	margin-top: 1rem
}
.inside_section{
	margin: 0px;

}
.section1{
	border: 1px solid #80808042;
	border-top: 0;
	margin: 0px;
	background-color: white;
	padding-bottom: 25px;
	padding-top:25px;
	padding-left: 25px;
	padding-right: 25px
}
.heading{
	min-height: 3rem;
	line-height: 3rem;
	color:white;
	background-color: #3c110e;
	border-radius: 6px 6px 0 0;
}
.padding-top-15{
	padding-top: 15px
}
.view-btn{
	margin-right: 15px;
	height: 34px;
}
.modal-content {
	position: relative;
    display: flex;
    flex-direction: column;
    width: 224%;
    /* pointer-events: auto; */
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
    margin-left: -314px;
	}